


::-webkit-scrollbar {
  background-color: #0000001A;
  width: 4px;
  height: 9px;
}

::-webkit-scrollbar-thumb {
  background: #0000001A;
}

::-webkit-scrollbar-corner {
  background: #0000001A;
}

::-webkit-scrollbar-button:single-button {
    background-color: #0000001A;
}