<div class="wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="content-wrapper">
                <div class="page-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2 class="mb-0" style="font-size: 1.571rem;
                      font-weight: 800;"> Workers</h2>

                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb pt-0 pr-0 float-left float-sm-right">
                                <li class="breadcrumb-item"><a routerLink="/home" class="default-color">Home</a></li>
                                <li class="breadcrumb-item active"><a routerLink="/chat" class="default-color">Chat</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-xl-12 mb-30">
                        <div class="card card-statistics h-100">
                            <div class="card-body">
                                <div class="d-block d-md-flex justify-content-between">
                                    <div class="d-block">
                                        <h5 class="card-title pb-0 border-0">Data Worker</h5>
                                    </div>
                                    <div class="d-block d-md-flex clearfix sm-mt-20">
                                        <a class="button button-border icon small" style="
                            margin-right: 13px;
                            border-radius: 38px;
                        "> Add Worker
                                            <i class="fa fa-long-arrow-right"></i> </a>
                                        <div class="widget-search ml-0 clearfix">
                                            <i class="fa fa-search"></i>
                                            <input type="search" class="form-control" placeholder="Search....">
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive mt-15">
                                    <table class="table center-aligned-table mb-0  ">
                                        <thead>
                                            <tr style="border-top: 1px solid #dee2e6;">
                                                <th>User No</th>
                                                <th>User Name</th>
                                                <th>User Email</th>
                                                <th>User address</th>
                                                <th>User Phone</th>
                                                <th>User Image</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>

                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>

                                                <td>

                                                <td>
                                                    <button class="btn btn-outline-success btn-sm"> View Worker</button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-outline btn-sm"><i
                                                            class="text-success ti-email"></i></button>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>