<div class="wrapper">

     
    <div id="pre-loader" style="display: none;">
        <img src="images/pre-loader/loader-01.svg" alt="">
    </div>
    
    <section class="height-100vh d-flex align-items-center page-section-ptb login" style="background-image: url(images/login-bg.jpg);">
      <div class="container">
         <div class="row justify-content-center no-gutters vertical-align">
           <div class="col-lg-4 col-md-6 login-fancy-bg bg" style="background-image: url(images/login-inner-bg.jpg);">
             <div class="login-fancy">
              <h2 class="text-white mb-20">Hello world!</h2>
              <p class="mb-20 text-white">Create tailor-cut websites with the exclusive multi-purpose responsive template along with powerful features.</p>
              <ul class="list-unstyled  pos-bot pb-30">
                <li class="list-inline-item"><a class="text-white" href="#"> Terms of Use</a> </li>
                <li class="list-inline-item"><a class="text-white" href="#"> Privacy Policy</a></li>
              </ul>
             </div> 
           </div>
           <div class="col-lg-4 col-md-6 bg-dark">
            <div [formGroup]="loginForm" class="login-fancy pb-40 clearfix">
            <h3 class="mb-30">Sign In To Admin</h3>
             <div class="section-field mb-20">
                 <label class="mb-10" for="name">Email * </label>
                   <input formControlName="email"  class="web form-control" type="email" placeholder="User email" >
                   <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid " class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>The email required!</strong> 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
                <div class="section-field mb-20">
                 <label class="mb-10" for="Password">Password* </label>
                   <input formControlName="password"  class="Password form-control" type="password" placeholder="Password" name="Password">
                   <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid " class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>The assword required!</strong> 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
                <div class="section-field">
                  <div class="remember-checkbox mb-30">
                     <input type="checkbox" class="form-control" name="two" id="two">
                     <label for="two"> Remember me</label>
                     <a href="password-recovery.html" class="float-right">Forgot Password?</a>
                    </div>
                  </div>
                 <button [disabled]="loginForm.invalid" (click)="go()"  class="button">
                    <span>Log in</span>
                    <i class="fa fa-check"></i>
                 </button>
                 <p class="mt-20 mb-0">Don't have an account? <a href="register.html"> Create one here</a></p>
              </div>
            </div>
          </div>
      </div>
    </section>

      
    </div>